

h1
{
font-family:'Quattrocento', serif;
font-size:50px;
color:blue;
}

	
.icons
{
    background-color:blue;
    margin-top: 20px;
}
.my-icon
{
	font-size: 70px;
}
.navbar
{
 marigin-top: 0px;
}